Public Web Services/MyClient/MyClient/Service References/ServiceReference1/item34.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServerRPG.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServerRPG.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Character">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="BackGroundStory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Class" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Level" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Character" nillable="true" type="tns:Character" />
  <xs:complexType name="ArrayOfCharacter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Character" nillable="true" type="tns:Character" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCharacter" nillable="true" type="tns:ArrayOfCharacter" />
</xs:schema>