Public Web Services/MultiServiceProblem/Client/Service References/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="My.goodol.Service1" elementFormDefault="qualified" targetNamespace="My.goodol.Service1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7410/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MultiServiceProblem.Models" />
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MultiServiceProblem.Models" minOccurs="0" name="GetAllResult" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>