Public Web Services/MultiServiceProblem/Client/Service References/ServiceReference1/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MultiServiceProblem.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MultiServiceProblem.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Pet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Owner" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pet" nillable="true" type="tns:Pet" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Pets" nillable="true" type="tns:ArrayOfPet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfPet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pet" nillable="true" type="tns:Pet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPet" nillable="true" type="tns:ArrayOfPet" />
</xs:schema>