Technology Course Examples/Full Monty/MVCDemo/MVCDemo/Service References/RoomBookingServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RoomBookingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/RoomBooking.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRoomBookingService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IRoomBookingService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomBookingService_Create_ArgumentExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System" name="detail" element="q1:ArgumentException" />
  </wsdl:message>
  <wsdl:message name="IRoomBookingService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IRoomBookingService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomBookingService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IRoomBookingService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomBookingService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IRoomBookingService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomBookingService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IRoomBookingService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:portType name="IRoomBookingService">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomBookingService/Create" message="tns:IRoomBookingService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomBookingService/CreateResponse" message="tns:IRoomBookingService_Create_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IRoomBookingService/CreateArgumentExceptionFault" name="ArgumentExceptionFault" message="tns:IRoomBookingService_Create_ArgumentExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomBookingService/Update" message="tns:IRoomBookingService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomBookingService/UpdateResponse" message="tns:IRoomBookingService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomBookingService/Delete" message="tns:IRoomBookingService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomBookingService/DeleteResponse" message="tns:IRoomBookingService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomBookingService/GetAll" message="tns:IRoomBookingService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomBookingService/GetAllResponse" message="tns:IRoomBookingService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomBookingService/Get" message="tns:IRoomBookingService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomBookingService/GetResponse" message="tns:IRoomBookingService_Get_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRoomBookingService" type="tns:IRoomBookingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IRoomBookingService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IRoomBookingService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IRoomBookingService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IRoomBookingService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IRoomBookingService/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoomBookingService">
    <wsdl:port name="BasicHttpBinding_IRoomBookingService" binding="tns:BasicHttpBinding_IRoomBookingService">
      <soap:address location="http://localhost:8733/RoomBookingService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>